.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 2px 2px 10px rgba(168, 168, 168, 0.3);
}
